body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

/* navbar */
.navbar {
  padding: 20px 0 20px 0;
  background: #F1F3FF;
}

/* .navbar .navbar-brand img {
  height: 40px;
  width: 100%;
} */
/* 
.navbar .navbar-nav .nav-link {
  padding-left: 32px;
}

.navbar .button-signup {
  padding-left: 32px;
} */

/* section 1 */
.header-h1 {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 37px;
  line-height: 150%;
  color: black;
}
.section-1 {
  background: #F1F3FF;
  position: relative;
  height: 490px;
}

.section-1 .hero {
  height: 490px;
}

.gambarhero {
  width: 49.46vw;
  /* max-width: 120%; */
  top: 100px;
  position: absolute;
  right: 0;
  bottom: 0;
}
/*=================== RESPONSIVE HERO =================== */
/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

  .section-1 {
    height: 690px;
  }
  

  .gambarhero {
    top: 0px;
    width: 100%;
    position: relative;
  }

}
/*=================== RESPONSIVE HERO =================== */


/* section 2 */
.desc {
  font-size: 16px;
  color: black;
  font-weight: 400;
}
.desc-service {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}
.heading-2 {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  color: black;
}
/* .section-2 .img-service {
  width: 374px;
  height: 366px;
  left: 99px;
  top: 0px;
} */
.section-2 ul {
  list-style: none;
  padding: 0;
}

.section-2 ul li {
  padding-top: 10px;
}

/* section 3 */

.heading-3 {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  color: black;
}
.p3 {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: black;
}
.card {
  height: 196px;
}
.card-title {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}
.card-text {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}
.icon {
  margin-bottom: 16px;
}

/* section 4 */
.title-2 {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 36px;
  color: black;
}
.title-p {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: black;
}
.choice {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: black;
}
.carousel-inner {
  background-color: gainsboro;
}
.section-4 {
  padding: 5rem 0 5rem 0;
}

/* section 5 */
.bg-biru {
  width: 100%;
  height: 326px;
  background: #0D28A6;
  border-radius: 13px;
}
.biru {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 2.3rem;
  line-height: 150%;
  color: white;
  text-align: center;
}
.desc-biru {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: white;
}
.section-5 {
  padding: 0 0 5rem 0;
}

/* section 6 */
.acor-z {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  color: black;
}
.acor-z1 {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: black;
}
.section-6 {
  padding: 0 0 5rem 0;
}
/* btn */
.btn-master,
.btn-primary {
  padding: 10px 32px 10px 30px;
  border-radius: 2px;
  border: 0;
  font-weight: 500;
}

.btn-primary {
  background: #5CB85F;
  color: #FFFFFF;
}

.btn-primary:hover {
  background: #3D7B3F;
}

/* footer */
.footer-p {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: black;
}

.footer-p1 {
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: black;
}

.footer-cont {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: black;
}

.footer-img {
  left: 12.5%;
  right: 12.5%;
  top: 8.33%;
  bottom: 8.33%;
  border: 1px solid #FFFFFF;
}

.footer-copy {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: black;
}

.footer-logo {
  width: 100px;
  height: 34px;
  left: 873px;
  top: 36px;
}



